@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 4rem;
}

.topo__pesquisa {
    display: flex;
    background: #f5f5f5;
    padding: .2rem 1rem;
    border-radius: 20px;
    width: 20rem;
    justify-content: space-between;
    color: black;
}

.topo__pesquisa_input {
    background: none;
    border: none;
    width: 19rem;
}

.topo__botao_login {
    padding: .4rem 2.5rem;
    font-size: .8rem;
    text-decoration: none;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.hero {
    background-image: url('../../assets/img/bkg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11rem 0 2.5rem 0;
}

.hero__promocao {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
}

.hero__promocao_data {
    font-size: 4rem;
    color: #f5f5f5;
    font-weight: 500;
    padding: .5rem 0;
}

.hero__promocao_desconto {
    color: #f5f5f5;
    padding: .5rem 0 1.1rem;
}

.hero__promocao_botao {
    font-size: .9rem;
    color: #f5f5f5;
    padding: .7rem;
    background: #2A7AE4;
    width: 7rem;
    text-align: center;
    text-decoration: none;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    background: #f5f5f5;
}

.sessao {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sessao__caterogiria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao__categoria_nome {
    font-size: 1.5rem;
    font-weight:500;
}

.sessao__categoria_vertudo {
    color: #2A7AE4;
    text-decoration: none;
}

.sessao__produto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sessao__produto_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    margin: .5rem 0 4rem 0;
}

.sessao__produto_container:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sessao__produto_img {
    background: #2A7AE4;
    width: 176px;
    height: 174px;
}

.sessao__produto_produto {
    color: gray;
    margin-top: .5rem;
}

.sessao__produto_preco {
    margin-top: .5rem;
}

.sessao__produto_ver {
    color: #2A7AE4;
    margin-top: .5rem;
    text-decoration: none;
}

.contato {
    background: #EAF2FD;
    display: flex;
    padding: 5rem 5vw;
    justify-content: space-between;
    align-items: flex-start;
}

.contato__img {
    width:176px;
    height: 50px;
}

.contato__links {
    display: flex;
    flex-direction: column;
}

.contato__link {
    margin: 0 0 1.5rem 0;
    text-decoration: none;
    color: black;
}

.contato__envio {
    display: flex;
    flex-direction: column;
}

.contato__titulo {
    font-weight: bold;
    margin-bottom: .5rem;
}

.contato__envio_nome {
    background: white;
    color: grey;
    font-size: .8rem;
    width: 30rem;
    padding: .5rem;
    margin-bottom: .5rem;
}

.contato__envio_nome2{
    background: none;
    border: none;
    padding: .2rem 0 0 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.contato__envio_msg {
    background: white;
    padding: .5rem;
    border: none;
    height: 5rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: .5rem;
}

.contato__envio_btn {
    background: #2A7AE4;
    color: white;
    border: none;
    width: 10rem;
    padding: .8rem 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 3.2rem;
}

/*LOGIN*/

.login {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    background-color: #f5f5f5;
}

.login__cx {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__cx_texto {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.login__cx_email {
    height: 3rem;
    width: 25rem;
    margin-bottom: 1rem;
    border: none;
    font-size: 1rem;
}

.login__cx_senha {
    height: 3rem;
    width: 25rem;
    margin-bottom: 1rem;
    border: none;
    font-size: 1rem;
}

.login__cx_btn {
    height: 3rem;
    width: 25rem;
    background: #2A7AE4;
    border: none;
    color: white;
    font-size: 1rem;
}

/*PRODUTO*/

.produto__cx {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

.produto__cx_tds {
    font-size: 2rem;
    font-weight: bold;
}

.produto__cx_btn {
    background: #2A7AE4;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.add {
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adcionar {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    align-items:flex-start;
}

.adcionar__texto {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.adcionar__url {
    background: white;
    width: 30rem;
    padding: .5rem .4rem;
    margin-bottom: 1rem;
}
.adcionar__url_texto {
    font-size: .8rem;
}

.adcionar__url_input {
    border: none;
    width: 25rem;
    font-size: 1rem;
    padding: 0;
}

.adcionar__categoria {
    background: white;
    width: 30rem;
    padding: .5rem .4rem;
    margin-bottom: 1rem;
}

.adcionar__categoria_texto {
    font-size: .8rem;
}

.adcionar__categoria_input {
    border: none;
    width: 25rem;
    font-size: 1rem;
    padding: .5rem 0 0 0;
}

.adcionar__nome {
    background: white;
    width: 30rem;
    padding: .5rem .4rem;
    margin-bottom: 1rem;
}

.adcionar__nome_texto {
    font-size: .8rem;
}

.adcionar__nome_input {
    border: none;
    width: 25rem;
    font-size: 1rem;
    padding: .5rem 0 0 0;
}

.adcionar__preco {
    background: white;
    width: 30rem;
    padding: .5rem .4rem;
    margin-bottom: 1rem;
}

.adcionar__preco_texto {
    font-size: .8rem;
}

.adcionar__preco_input {
    border: none;
    width: 25rem;
    font-size: 1rem;
    padding: .5rem 0 0 0;
}

.adcionar__descricao {
    width: 30rem;
    background: white;
    padding: .5rem .4rem;
    margin-bottom: 1rem;
}

.adcionar__descricao_input {
    width: 25rem;
    height: 6rem;
    border: none;
    padding: 0;
    font-size: 1rem;
}

.adcionar__btn {
    background: #2A7AE4;
    color: white;
    border: none;
    width: 100%;
    font-size: 1rem;  
    padding: 1rem .4rem;
} 