@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 4rem;
}

.topo__pesquisa {
    display: flex;
    background: #f5f5f5;
    padding: .2rem 1rem;
    border-radius: 20px;
    width: 20rem;
    justify-content: space-between;
    color: black;
}

.topo__pesquisa_input {
    background: none;
    border: none;
    width: 19rem;
}

.topo__botao_login {
    padding: .4rem 2.5rem;
    font-size: .8rem;
    text-decoration: none;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.hero {
    background-image: url('../../assets/img/bkg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11rem 0 2.5rem 0;
}

.hero__promocao {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
}

.hero__promocao_data {
    font-size: 4rem;
    color: #f5f5f5;
    font-weight: 500;
    padding: .5rem 0;
}

.hero__promocao_desconto {
    color: #f5f5f5;
    padding: .5rem 0 1.1rem;
}

.hero__promocao_botao {
    font-size: .9rem;
    color: #f5f5f5;
    padding: .7rem;
    background: #2A7AE4;
    width: 7rem;
    text-align: center;
    text-decoration: none;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.sessao {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5rem;
}

.sessao__caterogiria {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao__categoria_nome {
    font-size: 1.5rem;
    font-weight:500;
}

.sessao__categoria_vertudo {
    color: #2A7AE4;
    text-decoration: none;
}

.sessao__produto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sessao__produto_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.sessao__produto_img {
    background: #2A7AE4;
    width: 176px;
    height: 174px;
    margin-top: .5rem;
}

.sessao__produto_produto {
    color: gray;
    margin-top: .5rem;
}

.sessao__produto_preco {
    margin-top: .5rem;
}

.sessao__produto_ver {
    color: #2A7AE4;
    margin-top: .5rem;
    text-decoration: none;
}

.contato {
    background: #EAF2FD;
    display: flex;
    padding: 5rem 5vw;
    justify-content: space-between;
    align-items: flex-start;
}

.contato__img {
    width:176px;
    height: 50px;
}

.contato__links {
    display: flex;
    flex-direction: column;
}

.contato__link {
    margin: 0 0 1.5rem 0;
    text-decoration: none;
    color: black;
}

.contato__envio {
    display: flex;
    flex-direction: column;
}

.contato__titulo {
    font-weight: bold;
    margin-bottom: .5rem;
}

.contato__envio_nome {
    background: white;
    color: grey;
    font-size: .8rem;
    width: 30rem;
    padding: .5rem;
    margin-bottom: .5rem;
}

.contato__envio_nome2{
    background: none;
    border: none;
    padding: .2rem 0 0 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}

.contato__envio_msg {
    background: white;
    padding: .5rem;
    border: none;
    height: 5rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: .5rem;
}

.contato__envio_btn {
    background: #2A7AE4;
    color: white;
    border: none;
    width: 10rem;
    padding: .8rem 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 3.2rem;
}
